<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>Markdown Taking-note App</title>
</head>
<body>
    <div id="wrapper_2">
        <div id="read">
            <div id="note__dash">
                <form action="/api/v1/notes/<%= notes.slug %>?_method=DELETE" method="post">
                    <button type="submit">delete</button>
                </form>
                <button id="edit__btn">edit</button>
                <a href="/">return</a>
            </div>
            <div id="read__title">
                <%- notes.name %>
            </div>
            <div id="read__notes">
                <div class="display" id="edit__form">
                <form action="/api/v1/notes/<%= notes.slug %>?_method=PUT" method="post">
                    <%- include('form_fields') %>
                    <button id="cancel__btn" type="button">cancel</button>
                </form>
                </div>
                <div id="read__notes_board">
                    <%- notes.sanitizedHTML %>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripte2.js"></script>
</body>
</html>